.boxed-view {
    align-items: center;
    background: $color-background;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.boxed-view--modal {
    background: fade-out($color: $color-background, $amount: .3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .9s;
}

.boxed-view__box {
    background-color: $boxed-view-background;
    border: 1px solid white;
    border-radius: .2rem;
    padding: 2.4rem;
    text-align: center;
    width: 24rem;
    transition: all .9s;
}

.boxed-view__form {
    display: flex;
    flex-direction: column;
    transition: all .9s;

}