.item {
    background: $item-bg;
    border: 1px solid $item-border;
    margin-bottom: $space;
    padding: $space;
}

.item__message {
    color: $grey-darker-1;
}

.item__not-found {
    text-align: center;
    color: $grey-darker-1;
    font-style: italic;
    margin: 0; 
}